serial_plotter.spec
build/.DS_Store
build/serial_plotter/Analysis-00.toc
build/serial_plotter/base_library.zip
build/serial_plotter/BUNDLE-00.toc
build/serial_plotter/EXE-00.toc
build/serial_plotter/PKG-00.toc
build/serial_plotter/PYZ-00.pyz
build/serial_plotter/PYZ-00.toc
build/serial_plotter/serial_plotter.pkg
build/serial_plotter/warn-serial_plotter.txt
build/serial_plotter/xref-serial_plotter.html
build/serial_plotter/localpycs/pyimod01_archive.pyc
build/serial_plotter/localpycs/pyimod02_importers.pyc
build/serial_plotter/localpycs/pyimod03_ctypes.pyc
build/serial_plotter/localpycs/struct.pyc
dist/.DS_Store
dist/serial_plotter
dist/serial_plotter.app/Contents/Info.plist
dist/serial_plotter.app/Contents/_CodeSignature/CodeResources
dist/serial_plotter.app/Contents/MacOS/serial_plotter
dist/serial_plotter.app/Contents/Resources/icon-windowed.icns
.DS_Store
imu_log.csv
